<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a web application allowing students to learn in a more effective
  way. It enables them to share previous exams and their answers as well as
  offering them a place for discussion. You can follow courses and they
  will show up on your home page
</p>
<p>
  If you see any error you can contact me though issues on
  <a href="https://github.com/yannick-mayeur/menexatech_app">GitHub</a>,
  or try to fix it yourself with a Pull Request.
</p>
