<div class="jumbotron">
  <h1 class="display-4">Welcome to MenexaTech</h1>
  <p class="lead">
    This is a web application allowing students to learn in a more effective
    way. It enables them to share old exams and answers to them.
  </p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Sign up now</a>
</div>
