<div class="card" style="width: 18rem;">
  <div class="card-img-top"><%= image_tag(@old_exam.file.preview(resize: "400x400>")) %></div>
  <div class="card-body">
    <p class="card-text"><%= @old_exam.title %></p>
  </div>
</div>
