<div id="<%= "follow_form_#{@course.id}" %>">
  <% if current_user.courses.exists?(@course.id) %>
    <%= render 'courses/unfollow' %>
  <% else %>
    <%= render 'courses/follow' %>
  <% end %>
</div>
