<h1>List of available courses</h1>
<%= render 'course_list' %>
<% if logged_in? %>
  <% if current_user.admin? %>
    <%= link_to "Create new course", new_course_path, class: "btn btn-primary btn-md", role: "button" %>
  <% end %>
<% end %>
