<% provide(:title, "Show Courses") %>
<h1><%= @course.name %></h1>
<div class="card-deck">
  <% @course.old_exams.each do |exam| %>
    <% @old_exam = exam %>
    <%= render 'old_exams/card_old_exam' %>
  <% end %>
</div>

<% if current_duser.try(:admin?) %>
  <%= link_to "Add new exam", new_old_exam_path(course_id: @course.id), class: "btn btn-primary btn-md", role: "button" %>
<% end %>
